# Test Report

- Window Exact default size reduced
- Window Exact slices replaced with scaled source slices
- Version updated to 6.9.9
